@use '../../styles/sass/utils/screen';

.container-posts {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .all-articles-text {
    color: var(--gray);
    font-weight: 300;
    font-style: italic;
    font-size: 0.875rem;
  }
}
