@use '../../../styles/sass/utils/screen';

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  h1 {
    color: var(--white);
    font-weight: 900;
    font-size: 2rem;
  }

  p {
    color: var(--gray);
    font-weight: 300;
  }
}

.description {
  margin-top: 2rem;
  font-size: 1.125rem;
  line-height: 150%;
  color: var(--gray);

  @media (max-width: screen.$sm) {
    font-size: 1rem;
    line-height: 150%;
  }
}
.show {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.hidden {
  opacity: 0;
}
