@use '../../styles/sass/utils/mixins';

@mixin headings {
  color: var(--white);
  font-weight: 600;
  margin-top: 3rem;
}

@mixin titles {
  color: var(--gray);
  font-weight: 400;
  margin: 1rem 0;
  line-height: 150%;
}

.mdx-components {
  margin-top: 4rem;
  @include mixins.link;

  a {
    font-size: 1rem;
  }
}

.headings {
  @include headings();
}

.paragraphs {
  @include titles();
}

.emphasis {
  @include headings();
  font-weight: 400;
  line-height: 150%;
}

.blockquote {
  background: var(--hover);
  border-left: 10px solid var(--gray);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  ::before {
    color: var(--gray);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
  }
}
