@use '../../../sass/theme';

@mixin not-found {
  color: theme.$white;
}

.container-not-found {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    margin-bottom: 0.5rem;
  }
}

.title {
  @include not-found;
  font-size: 2rem;
}

.text {
  @include not-found;
}

.link {
  color: theme.$teal;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: rgba(theme.$teal, 0.8);
    transition: color 0.2s ease-in-out;
  }
}
